@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-pale-blue;
    @apply text-secondary;
  }

  h1 {
    @apply mb-2 text-3xl font-bold;
  }

  h2 {
    @apply mb-1 text-xl font-semibold;
  }

  a {
    @apply hover:text-action-green transition cursor-pointer;
  }

  input[type="text"] {
    @apply w-80  bg-transparent outline-none placeholder:italic disabled:bg-slate-200;
  }

  input[type="password"] {
    @apply w-80 bg-transparent outline-none placeholder:italic disabled:bg-slate-200;
  }

  label {
    @apply text-sm mt-2 font-semibold;
  }

  .background-image {
    background-image: url("/Home.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    height: 100vh;
  }

  ::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }

  ::-webkit-scrollbar-thumb {
    /* background-color: rgba(217,217,227,.8); */
    background-color: rgba(167, 167, 177, 0.8);
    border-color: rgba(255, 255, 255, 1);
    border-radius: 9999px;
    border-width: 1px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(167, 167, 177, 1);
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 9999px;
  }
}
