@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-pale-blue;
    @apply text-secondary;
    scrollbar-gutter: stable ;
  }

  h1 {
    @apply mb-2 text-3xl font-bold;
  }

  h2 {
    @apply mb-1 text-xl font-semibold;
  }

  a {
    @apply  hover:text-action-green transition cursor-pointer;
  }

  input[type="text"] {
    @apply w-80  bg-transparent outline-none placeholder:italic disabled:bg-slate-200;
  }

  input[type="password"] {
    @apply w-80 bg-transparent outline-none placeholder:italic disabled:bg-slate-200;
  }

  label {
    @apply text-sm mt-2 font-semibold
  }

  .background-image {
    background-image: url("/Home.svg");
    background-size: cover;
    background-repeat: no-repeat;
    
    height: 100vh;
  }

  

}
